 .sign_up {
    height: 100vh;
    background: #232f3e;
 }

 .sign_up h1 {
     margin: 0;
     color: #f5fbe0;
 }

 .sign_up .sign_teste {
    color: #f5fbe0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.container div.input {
    margin-bottom: 17px;
}